
.musicSelectPageBackground {
    width: 100%;
    height: auto;  
}
 
  
.musicBoxFrame{ 
    position:absolute;
    margin-top:14%;
    margin-left:40%;  
}
 

.prevButton{
    position: absolute;
    top:50%;
    left:30%;
    font-family: 'Quicksand', sans-serif;
    font-size:7vmin;
    color:white;
    cursor: pointer; 
    background-color: transparent;
    border-color: transparent;
}

.nextButton{ 
    position: absolute;
    top:50%;
    left:70%;
    font-family: 'Quicksand', sans-serif;
    font-size:7vmin;
    color:white;
    cursor: pointer; 
    background-color: transparent;
    border-color: transparent;
}
 